@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg: 255 255 255;
  --text: 15 23 42;
  --accent: 37 99 235;
}

html, body, #__next { height: 100%; }
body { background-color: rgb(var(--bg)); color: rgb(var(--text)); -webkit-font-smoothing:antialiased; }
a { color: rgb(var(--accent)); text-decoration: none; }
